go 1.27.0

toolchain go1.27.1

use (
	./go
	./go/driver/headgatemysql
	./go/driver/headgatepgx
	./go/driver/headgateredis
	./go/headgateapi
	./go/headgatecrypto
	./go/headgatectl
	./go/headgatemigrate
	./go/headgateotel
	./go/headgatetest
	./go/headgateui
	./go/headgateworkflow
)
