go 1.25.0

use (
	.
	./driver/headgatemysql
	./driver/headgatepgx
	./driver/headgateredis
	./headgateapi
	./headgatecrypto
	./headgatectl
	./headgatemigrate
	./headgateotel
	./headgatetest
	./headgateui
	./headgateworkflow
)
